@page "{id:int?}"
@model SocialEngineeringPlatform.Web.Pages.MailTemplates.DetailsModel

@{
    ViewData["Title"] = "郵件範本詳細資料";
    // Layout = "_AdminLayout"; // 可選
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>郵件範本</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailTemplate.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailTemplate.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.Category)
        </dt>
        <dd class = "col-sm-10">
            @* 顯示關聯的 Category 名稱 *@
            @(Model.MailTemplate.Category?.Name ?? "N/A")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.Body)
        </dt>
        <dd class = "col-sm-10">
            @* 直接顯示 Body 內容。注意：如果 Body 包含 HTML，這裡不會渲染 HTML 標籤。 *@
            @* 若要渲染 HTML，可改用 @Html.Raw(Model.MailTemplate.Body)，但需注意 XSS 風險 *@
            <div class="border p-2 bg-light fs-6">
                @Html.Raw(Model.MailTemplate.Body)
            </div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailTemplate.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.AttachmentPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailTemplate.AttachmentPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.CreatedByUser)
        </dt>
        <dd class = "col-sm-10">
            @* 顯示關聯的 User Email *@
            @(Model.MailTemplate.CreatedByUser?.Email ?? "N/A")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Model.MailTemplate.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailTemplate.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Model.MailTemplate.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
    </dl>
</div>
<div>
    @* 編輯按鈕 *@
    <a asp-page="./Edit" asp-route-id="@Model.MailTemplate.Id" class="btn btn-primary">編輯</a> |
    @* 返回列表連結 *@
    <a asp-page="./Index" class="btn btn-secondary">返回列表</a>
</div>