@page "{id:int?}"
@model SocialEngineeringPlatform.Web.Pages.TargetUsers.DetailsModel

@{
    ViewData["Title"] = "目標使用者詳細資料";
    // Layout = "_AdminLayout"; // 可選
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>目標使用者</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetUser.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetUser.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.Group) @* 顯示群組標籤 *@
        </dt>
        <dd class = "col-sm-10">
            @* 顯示關聯的 Group 名稱，如果 Group 為 null 則顯示 "N/A" *@
            @(Model.TargetUser.Group?.Name ?? "N/A")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.CustomField1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetUser.CustomField1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.CustomField2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetUser.CustomField2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @(Model.TargetUser.IsActive ? "是" : "否") @* 顯示 是/否 *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Model.TargetUser.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Model.TargetUser.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
    </dl>
</div>
<div>
    @* 編輯按鈕 *@
    <a asp-page="./Edit" asp-route-id="@Model.TargetUser.Id" class="btn btn-primary">編輯</a> |
    @* 返回列表連結 *@
    <a asp-page="./Index" class="btn btn-secondary">返回列表</a>
</div>